
#build --remote_cache=http://127.0.0.1:9090

build:dbg  --strip=never

# 禁用沙盒
build --spawn_strategy=local
test --strategy=TestRunner=local


#build --action_env=http_proxy=http://127.0.0.1:10809
#build --action_env=https_proxy=http://127.0.0.1:10809
