
#build --remote_cache=http://127.0.0.1:9090

build:dbg  --strip=never

# 禁用沙盒
# build --spawn_strategy=local
# test --strategy=TestRunner=local

build --action_env=BAZEL_CXXOPTS="-std=c++17"

#build --action_env=http_proxy=http://127.0.0.1:10809
#build --action_env=https_proxy=http://127.0.0.1:10809




# 或者单独设置外部依赖缓存  以下的代码是放放到user的家目录xia
# build --repository_cache=E:/bazel_local_repo
# build --disk_cache=E:/bazel_local/disk

# startup --output_base=E:/bazel_local_repo/bazel_out
