.clwb/
bazel-bin
bazel-demo2
bazel-out
bazel-testlogs

**/__pycache__/
bazel-bazel_project1/
bazel-bazel_project2
.ijwb/

MODULE.bazel.lock
.__atomic-*
rust_demo/target
python_rust_bind7/target
rust_macro_demo/target