#include <iostream>

namespace generated {{


    namespace {{

        void sayHelloImpl() {{

            std::cout << "sayHelloImpl ---> {message}" << std::endl;

        }}

    }}

    class {class_name} {{

    public:

        void sayHello() {{
            sayHelloImpl();
        }}



    }};


}}